<html lang="en">

<head>

</head>

<body>
    <form [formGroup]="expenceForm">
        <h1>Add Expense</h1>
        <input type="text" placeHolder="Category" name="category" formControlName="category" />
        <div *ngIf="expenceForm.get('category')?.hasError('maxlength') && expenceForm.get('category')?.touched">
            can not be more the 15 charactor
        </div>
        <div *ngIf="expenceForm.get('category')?.hasError('required') && expenceForm.get('category')?.touched"
            [style.color]="'red'">
            category is required
        </div>
        <input type="text" placeHolder="Expence Name" name="expenceName" formControlName="expenceName" />
        <div *ngIf="expenceForm.get('expenceName')?.hasError('maxlength') && expenceForm.get('expenceName')?.touched">
            can not be more the 15 charactor
        </div>
        <div *ngIf="expenceForm.get('expenceName')?.hasError('required') && expenceForm.get('expenceName')?.touched"
            [style.color]="'red'">
            Expence Name is required
        </div>
        <input type="number" placeHolder="Amount" type="number" name="amount" formControlName="amount" />
        <input type="date" class="custom-datepicker" name="expenceDate" [value]="today" formControlName="expenceDate" />
        <div class="setbutton">
            <button (click)="save()" type="submit" [disabled]="!expenceForm.valid">Save</button>
            <button (click)="goExpense()" type="submit">Go to Expenses</button>
        </div>

    </form>
</body>

</html>