<form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">

    <label>Name:</label><br />
    <input type="text" name="name" [(ngModel)]="name" (ngModelChange)="onInputChange('name', $event)" required />
    <div style="color: red;" *ngIf="nameError">{{ nameError }}</div>
<br/>
    <label>Email:</label><br>
    <input type="email" name="email" [(ngModel)]="email" (ngModelChange)="onInputChange('email', $event)" />
    <div style="color: red;" *ngIf="emailError"> {{ emailError }} </div>
<br/>
    <label>Password:</label><br />
    <input type="password" name="password" [(ngModel)]="password" (ngModelChange)="onInputChange('password', $event)" required />
    <div style="color: red;" *ngIf="passwordError">{{ passwordError }}</div>
<br/>
    <label>Confirm Password:</label><br />
    <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" (ngModelChange)="onInputChange('confirmPassword', $event)" required />
    <div style="color: red;" *ngIf="confirmPasswordError">{{ confirmPasswordError }}</div>

<br/>

    <button type="submit" [disabled]="!userForm.valid || hasErrors()">Submit</button>
<br/>
<p>Pipe example</p>
    <input (keyup)="showMessage($event)"/>
    <p>{{displayMessage | uppercase}}</p>
</form>