<!DOCTYPE html>
<html lang="en">

<body>
  <div class="booking-container">
    <h1>Bus Ticket Booking</h1>
    <form #bookingForm="ngForm" class="booking-form" (ngSubmit)="submitForm(bookingForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="name"
          (ngModelChange)="onInputChange('name', $event)" required>
        <div style="color: red;" *ngIf="nameError">{{ nameError }}</div>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input type="text" id="mobile" name="mobile" [(ngModel)]="mobile"
          (ngModelChange)="onInputChange('mobile', $event)" required>
        <div style="color: red;" *ngIf="mobileError">{{ mobileError }}</div>
      </div>
      <div class="form-group">
        <label for="date">Travel Date</label>
        <input type="date" id="date" name="date" [(ngModel)]="date" (ngModelChange)="onInputChange('date', $event)"
          required>
        <div style="color: red;" *ngIf="dateError">{{ dateError }}</div>

      </div>
      <div class="form-group">
        <label for="passengers">Passengers</label>
        <input type="number" id="passengers" name="passengers" min="1" max="10" [(ngModel)]="passengers"
          (ngModelChange)="onInputChange('passengers', $event)" required>
        <div style="color: red;" *ngIf="passengerError">{{ passengerError }}</div>
      </div>
      <button type="submit" class="book-btn" [ngClass]="!bookingForm.valid || hasErrors() ? '' : 'book-btn-color'"
        [attr.disabled]="!bookingForm.valid || hasErrors()">Book Now</button>
      <button type="button" class="book-btn book-btn-color" (click)="cancel()">Cancel</button>
    </form>
  </div>
</body>

</html>